In [1]:
# to csv
inputdir= '../hyperpolyglot--html-backup/'
outputdir= '../overwrite/foo/'+  inputdir
####%mkdir  ${outputdir}
#%mkdir  "../overwrite/hyperpolyglot-CSV-229/"
%mkdir  "../overwrite/foo/../hyperpolyglot--html-backup"

A subdirectory or file ../overwrite/foo/../hyperpolyglot--html-backup already exists.

In [2]:
%mkdir  "../overwrite/foo/../hyperpolyglot----PANDAS"
%mkdir  "../overwrite/foo"

A subdirectory or file ../overwrite/foo/../hyperpolyglot----PANDAS already exists.
A subdirectory or file ../overwrite/foo already exists.

In [3]:
## https://hyperpolyglot.org/numerical-analysis2#tables
import pandas as pd
import csv
import numpy as np

In [5]:
# python js
str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'

In [32]:
# python js 2!
str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'

In [33]:
# pwsh
#####str1='../hyperpolyglot--html-backup/shell.html'
str1='../hyperpolyglot--html-backup/Command Line Interpreters_ POSIX Shell, Cmd.exe, PowerShell - Hyperpolyglot.html'

In [ ]:
238.8 I CANNOT REMEMBER, WHICH ARE BETTER ... (A) LONG---NAMED---.html (B) shortname.html .... but judging from this  `# pwsh` , probably (A)

In [34]:
str1='../hyperpolyglot--html-backup/ML Dialects and Haskell_ SML, OCaml, F#, Haskell - Hyperpolyglot.html'

In [5]:
str1='../hyperpolyglot--html-backup/Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html'
str1='../hyperpolyglot--html-backup/2Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html'

In [21]:
str1='../hyperpolyglot--html-backup/Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html'
str1='../hyperpolyglot--html-backup/2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html'

In [36]:
str1='../hyperpolyglot--html-backup/lisp.html'

In [37]:
# emacs
str1='../hyperpolyglot--html-backup/text-mode-editors.html'

In [38]:
# tcl
str1='../hyperpolyglot--html-backup/gui.html'

In [22]:
with open(str1,encoding='utf-8' )  as f:    fstr=f.read().strip()

##fstr[3870:3872]
# </a><br />\n<span style="white-space: pre-wrap;">\xa0</s
#fstr[3800:3872]

s2=fstr.replace('\n','....\n')
##s2=fstr.replace('\n',' @@@\n')
#s2=fstr.replace('\n','@@@@\n')
#s2=fstr.replace('\n','@@@\n')
#s2=fstr.replace('\n','.....\n')

In [23]:
#dfs=pd.read_html(str1,  flavor='bs4')
dfs=pd.read_html(s2, header=0  , flavor='bs4',  keep_default_na=False )
##dfs=pd.read_html(s2,  flavor='bs4',  keep_default_na=False )
df=dfs[0]

In [24]:
## spreadsheet issue #1  ... 'x ... = ... +x ... (active characters ... '=+ ...) at the start of a cell (excel online also ... - x ... )
## spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell (excel online also ... - x ... )

#f2
def f2(x):
    if x.startswith('='):
        x="'"+x
    return x.replace('....','\n').strip()
f2('=..... .... ')

#df.replace(to_replace='....', value='\n', regex=False)
df2=df.applymap(f2)

In [25]:
#alter
##dfs=pd.read_html(str1,  flavor='bs4')
#dfs=pd.read_html(str1, header=0  , flavor='bs4',  keep_default_na=False)   #, encoding='utf-8')
#warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored."
#df=dfs[0]

#debug
df.columns
df2.values[2,0]
#df.values[:,2]
s=df2.values[2,2]
s.split('\n')
type(df2.iloc[30])
se=df2.iloc[29] #30]
se.iat[0]

'change decimal mark'

In [26]:
1==6==1 # chaining
def f4(row):
    if (row.iat[0]==row.iat[1]) and row.iat[1]==row.iat[2]:
        #return  'section: ' +   row.iat[0]
        return     row.iat[0]
    else:
        return ''
    
## deleted df5 cells

###dfsheet5=df5.replace(to_replace=r'^', value="='", regex=True)
###dfsheet=df.replace(to_replace=r'^', value="'", regex=True)
dfsheet=df2 #df5 ### copies merely the reference
dfsheet=df2.copy() #df5.copy() 

se3= dfsheet.apply(f4, axis=1)
se3[se3!='']

18          import and export
38         relational algebra
55                aggregation
62                    vectors
71                   matrices
99            sparse matrices
106              optimization
116               polynomials
125    descriptive statistics
140             distributions
155         linear regression
162         statistical tests
179               time series
198    fast fourier transform
205                clustering
213                    images
219                     sound
226                bar charts
237             scatter plots
251               line charts
260            surface charts
269             chart options
dtype: object

In [27]:
se3[se3==''] = np.nan
print(df.columns[0])
if  df.columns[0].startswith('Unnamed'):
##if not len(df.columns[0]):
    se3[0]='version' # command ---shell.html !
else:
    se3[0]=df.columns[0]

se3

tables

0      tables
1         NaN
2         NaN
3         NaN
4         NaN
        ...
282       NaN
283       NaN
284       NaN
285       NaN
286       NaN
Length: 287, dtype: object

In [28]:
#se3.ffill(inplace=True, )
se4=se3.ffill( )
se4

0             tables
1             tables
2             tables
3             tables
4             tables
           ...
282    chart options
283    chart options
284    chart options
285    chart options
286    chart options
Length: 287, dtype: object

In [29]:
dfsheet3=dfsheet ### copies merely the reference
dfsheet3=dfsheet.copy()
dfsheet3.insert(0,'section',se4 )   #se3)
dfsheet3 #[25:35]
dfsheet9=dfsheet3 ### copies merely the reference
dfsheet9=dfsheet3.copy()
#del dfsheet

#fname2= '../overwrite/foo/'+     str1+'--martin12333'+'.csv'
fname2= '../overwrite/foo/'+     str1+'.csv'
##fname3= '../overwrite/hyperpolyglot.f8'+ fname3b
fnamexlsx= '../overwrite/foo/'+     str1+'.xlsx'
print(fname2)

../overwrite/foo/../hyperpolyglot--html-backup/2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html.csv

In [30]:
dfsheet9.to_csv(path_or_buf=fname2, header=False, index=False)
dfsheet9 #[20:40]

#dfsheet.to_excel(fnamexlsx, index=False, header=False)
##alter
#test =dfsheet # df5 # pd.DataFrame(biglist)
#writer = pd.ExcelWriter(  fnamexlsx  ,   engine='xlsxwriter')
#test.to_excel(writer,sheet_name='test', index=False, header=False)
#writer.save()

,section,tables,tables.1,tables.2,tables.3,tables.4,Unnamed: 5
0,tables,,matlab,r,numpy,julia,
1,tables,construct from column arrays,sx = {'F' 'F' 'F' 'M' 'M' 'M'} \n ht = [69 64 ...,"# gender, height, weight of some people \n # i...","sx = ['F', 'F', 'F', 'F', 'M', 'M'] \n ht = [6...",,
2,tables,construct from row dictionaries,,,"rows = [ \n {'sx': 'F', 'ht': 69, 'wt': 150},...",,
3,tables,size,height(people) \n width(people),nrow(people) \n ncol(people) \n \n # number of...,len(people) \n len(people.columns),,
4,tables,column names as array,people.Properties.VariableNames,names(people) \n colnames(people),returns Index object: \n people.columns,,
...,...,...,...,...,...,...,...
282,chart options,open new plot window,open new plot \n figure \n open new plot,hist(rnorm(100)) \n dev.new() \n hist(rnorm(100)),,,
283,chart options,close all plot windows,close all,graphics.off(),,,
284,chart options,save plot as png,"f = figure \n hist(randn(100)) \n print(f, '-d...",png('hist.png') \n hist(rnorm(100)) \n dev.off(),y = randn(50) \n plot(y) \n savefig('line-plot...,,
285,chart options,save plot as svg,,svg('hist.svg') \n hist(rnorm(100)) \n dev.off(),,,
286,chart options,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...,

In [31]:
inputdir

'../hyperpolyglot--html-backup/'

In [32]:
dfsheet9 #[:35] #df[:40]

,section,tables,tables.1,tables.2,tables.3,tables.4,Unnamed: 5
0,tables,,matlab,r,numpy,julia,
1,tables,construct from column arrays,sx = {'F' 'F' 'F' 'M' 'M' 'M'} \n ht = [69 64 ...,"# gender, height, weight of some people \n # i...","sx = ['F', 'F', 'F', 'F', 'M', 'M'] \n ht = [6...",,
2,tables,construct from row dictionaries,,,"rows = [ \n {'sx': 'F', 'ht': 69, 'wt': 150},...",,
3,tables,size,height(people) \n width(people),nrow(people) \n ncol(people) \n \n # number of...,len(people) \n len(people.columns),,
4,tables,column names as array,people.Properties.VariableNames,names(people) \n colnames(people),returns Index object: \n people.columns,,
...,...,...,...,...,...,...,...
282,chart options,open new plot window,open new plot \n figure \n open new plot,hist(rnorm(100)) \n dev.new() \n hist(rnorm(100)),,,
283,chart options,close all plot windows,close all,graphics.off(),,,
284,chart options,save plot as png,"f = figure \n hist(randn(100)) \n print(f, '-d...",png('hist.png') \n hist(rnorm(100)) \n dev.off(),y = randn(50) \n plot(y) \n savefig('line-plot...,,
285,chart options,save plot as svg,,svg('hist.svg') \n hist(rnorm(100)) \n dev.off(),,,
286,chart options,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...,

In [33]:
df['version']

KeyError: 'version'

In [34]:
df.describe()

       tables tables.1 tables.2 tables.3 tables.4 Unnamed: 5
count     287      287      287      287      287        287
unique    260      162      210      160       58          1
top
freq       24      103       53      103      207        287

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tables      287 non-null    object
 1   tables.1    287 non-null    object
 2   tables.2    287 non-null    object
 3   tables.3    287 non-null    object
 4   tables.4    287 non-null    object
 5   Unnamed: 5  287 non-null    object
dtypes: object(6)
memory usage: 13.6+ KB

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 '_oh': {2: {...}},
 '_dh': [WindowsPath('c:/Users/marti/OneDrive/jupyter-notebooks')],
 'In': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 'Out': {2: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001DC707843D0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 '_': {...},
 '__': '',
 '___': '',
 'os': <module 'os' from 'd:\\conda\\lib\\os.py'>,
 'sys': <module 'sys' (built-in)>,
 '__vsc_ipynb_file__': 'c:\\Users\\marti\\OneDrive\\jupyter-notebooks\\pandas-1.ipynb',
 '_i': 'globals()',
 '_ii': 'import pandas as pd\nimport numpy as np',
 '_iii': '',
 '_i1': 'import pandas as pd\nimport numpy as np',
 'pd': <module 'pandas' from 'd:\\conda\\lib\\site-packages\\pandas\\__init__.py'>,
 'np': <module 'numpy' from 'd:\\conda\\lib\\site-packages\\numpy\\__init__.py'>,
 '_i2': 'globals()',
 '_2': {...},
 '_i3': 'globals()'}

In [4]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih']

In [5]:
pd.Series(dir(pd))

0          BooleanDtype
1           Categorical
2      CategoricalDtype
3      CategoricalIndex
4             DataFrame
             ...
136             tseries
137              unique
138                util
139        value_counts
140        wide_to_long
Length: 141, dtype: object

In [6]:
seri=pd.Series(dir(pd))

In [7]:
seri=pd.Series(globals())

In [8]:
seri=dfa.li

NameError: name 'dfa' is not defined

In [10]:
seri=pd.Series(_ih)

In [11]:
seri

0
1     import pandas as pd\nimport numpy as np
2                                   globals()
3                                   globals()
4                                         _ih
5                          pd.Series(dir(pd))
6                     seri=pd.Series(dir(pd))
7                   seri=pd.Series(globals())
8                                 seri=dfa.li
9                         seri=pd.Series(_ih)
10                        seri=pd.Series(_ih)
dtype: object

In [12]:
seri[seri.str.contains('seri[=]')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [13]:
seri[seri.str.contains('^ser')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [14]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih',
 'pd.Series(dir(pd))',
 'seri=pd.Series(dir(pd))',
 'seri=pd.Series(globals())',
 'seri=dfa.li',
 'seri=pd.Series(_ih)',
 'seri=pd.Series(_ih)',
 'seri',
 "seri[seri.str.contains('seri[=]')]",
 "seri[seri.str.contains('^ser')]",
 '_ih']

In [18]:
dir(seri.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [16]:
df1.columns

NameError: name 'df1' is not defined

In [ ]:
pd.DataFrame(dir(pd))

In [ ]:
dir(pd)

In [ ]:
dtype1= {'c': np.int32 , 'x': np.float64 } #, dtype=dtype1

In [ ]:
dfa=pd.read_csv('f3-of-f234.csv',sep=',',names=['li']) #,,skipinitialspace=True)

In [ ]:
# not strange ... just right aligned

In [ ]:
notstrange1=dfa.li.str.replace(' ','------')

In [ ]:
notstrange1

In [ ]:
notstrange1.to_csv('s1')

In [ ]:
notstrange1.to_frame('s1')

In [ ]:
notstrange1.to_list()

In [ ]:
notstrange1.to_numpy()

In [ ]:
notstrange1.to_string()

In [ ]:
dfa.li.str.replace(' ','-----')

In [ ]:
dfa.li.str.replace('\t','------')

In [ ]:
df1=pd.read_csv('f3-of-f234.csv',sep=' ',names=['c','x'],skipinitialspace=True)

In [ ]:
(10*df1).round()/10

In [ ]:
df1.eval('y=floor(10*x)/10', inplace=True)

In [ ]:
df11=df1

In [ ]:
df1.drop(columns=['x'],inplace=True)

In [ ]:
df12=df1

In [ ]:
df3=df1.groupby(by=['y']).sum()

In [ ]:
df3.to_csv('f3-of-f234-groupby.csv')

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df1

In [ ]:
dir(df1)

In [ ]:
df1.describe()

In [ ]:
df1.info()

In [ ]:
df1.lkey

In [ ]:
dir(df1.x)

In [ ]:
dir(np)

In [ ]:
se=pd.Series(["a", "b", "c"])

In [ ]:
se.str.upper()

In [ ]:
df.columns

In [4]:


#str1='../hyperpolyglot--html-backup/lisp.html'

#str1='../hyperpolyglot----PANDAS/spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell.xhtml'


## pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\Scripting Languages II_ Perl, Lua, Groovy - Hyperpolyglot.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\scripting.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\ml.html')