In [ ]:
now move old notes 30 cells down

In [ ]:
#####was from html to f8-notebooks
#      now : from *csv* to f8-notebooks          


# tc ^s hy
# 238 exists ??? inputdir= '../hyperpolyglot----PANDAS/'  todo tc copy paste ?


maybe todo move
# exist f8-notebooks--older\hyperpolyglot.f8.editor.el
# f8-notebooks--older\hyperpolyglot.f8.py
# tclsh\hyperpolyglot.f8.tcl

inputdir= '../hyperpolyglot-CSV-229/'
outputdir= '../overwrite/foo/'+  inputdir
####%mkdir  ${outputdir}
%mkdir  "../overwrite/hyperpolyglot-CSV-229/"

A subdirectory or file ../overwrite/hyperpolyglot-CSV-229/ already exists.

In [1]:
%mkdir  "../overwrite/foo/../hyperpolyglot----PANDAS"
%mkdir  "../overwrite/foo"

A subdirectory or file ../overwrite/foo/../hyperpolyglot----PANDAS already exists.
A subdirectory or file ../overwrite/foo already exists.

In [ ]:
238.8 I CANNOT REMEMBER, WHICH ARE BETTER ... (A) LONG---NAMED---.HTML.csv (B) shortname.html.csv ....  hyperpolyglot-html-to-csv-by-pandas.ipynb

In [1]:
# f8
#dir -recurse 'hy*.f8.*'
#bash
#find . -name 'hy*.f8.*'
#exit
#!dir ..\hyperpolyglot--html-backup\*.html
#%ls ..\hyperpolyglot--html-backup\*.html
!dir ..\hyperpolyglot-CSV-229\*.csv

 Volume in drive C is Windows
 Volume Serial Number is 2480-D21D

 Directory of C:\Users\marti\OneDrive\hyperpolyglot-CSV-229

08/08/2023  16:24            61,167 2Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html.csv
08/08/2023  16:27            52,143 2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html.csv
09/04/2022  18:15            24,911 Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html.csv
09/24/2022  23:59            32,562 gui.html.csv
08/08/2023  16:42            36,183 ML Dialects and Haskell_ SML, OCaml, F#, Haskell - Hyperpolyglot.html.csv
09/04/2022  17:45           103,439 Scripting Languages I_ Node.js, Python, PHP, Ruby 1,2 - Hyperpolyglot.html - sheet1.csv
08/28/2022  22:38               469 spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell.xhtml.f8.csv
09/04/2022  16:41            29,565 text-mode-editors.html.csv
               8 File(s)        340,439 bytes
               0 Dir(s)  15,375,253,504 bytes free

In [5]:
# emacs
fname3b='.editor.el'

commentstr='; '
icol1=3

str1b='text-mode-editors.html'
#str1='../hyperpolyglot--html-backup/text-mode-editors.html'

In [131]:
# python
#fname3a='python'
fname3b='.py'

commentstr='# '
icol1=2+1
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='Scripting Languages I_ Node.js, Python, PHP, Ruby 1,2 - Hyperpolyglot.html - sheet1'

In [148]:
# js
#fname3a='python'
fname3b='.js'

commentstr='// '
icol1=1
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='Scripting Languages I_ Node.js, Python, PHP, Ruby 1,2 - Hyperpolyglot.html - sheet1'

In [133]:
# tcl
#fname3a='python'
fname3b='.tcl'

commentstr='# '
icol1=2+1
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='gui.html'

In [134]:
# hs
#fname3a='python'
fname3b='.hs'

commentstr='-- '
icol1=4  # 4+1
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='ML Dialects and Haskell_ SML, OCaml, F#, Haskell - Hyperpolyglot.html'

In [135]:
# sympy
fname3b='.sympy.py'

commentstr='# '
icol1=2
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='2Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html'

In [95]:
# sage
fname3b='.sage'

commentstr='# '
icol1=3
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='2Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html'

In [107]:
# numpy pandas
fname3b='.num.py'

commentstr='# '
icol1=3
##str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
#str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'
str1b='2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html'

In [149]:
str1=inputdir+str1b + '.csv'
str1

'../hyperpolyglot-CSV-229/Scripting Languages I_ Node.js, Python, PHP, Ruby 1,2 - Hyperpolyglot.html - sheet1.csv'

In [150]:
## https://hyperpolyglot.org/numerical-analysis2#tables
import pandas as pd
import csv
import re

In [151]:
df=pd.read_csv( filepath_or_buffer= str1 , dtype = str ,   keep_default_na=False) 
####### not NaN float
##dfs=pd.read_html(str1,  flavor='bs4')
##dfs=pd.read_html(s2, skiprows=1  , flavor='bs4',  keep_default_na=False )
#dfs=pd.read_html(s2, header=0 , flavor='bs4',  keep_default_na=False )
##header='a b c d e'.
#df=dfs[0]
df

,version,Unnamed: 1,node.js,python,php,ruby
0,version,version used,6.11,3.6,7,2.3
1,version,show version,$ node --version,$ python -V\n $ python --version,$ php --version,$ ruby --version
2,version,implicit prologue,// npm install lodash\n const _ = require('lod...,"import os, re, sys",# sudo apt install php-mbstring,none
3,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
4,grammar and execution,,node.js,python,php,ruby
...,...,...,...,...,...,...
414,debugging,check style,$ npm install -g semistandard\n $ semistandard...,$ sudo pip install pep8\n $ pep8 foo.py,,$ sudo gem install rubocop\n $ rubocop -D foo.rb
415,debugging,run debugger,$ node debug foo.js,$ python -m pdb foo.py,,$ sudo gem install ruby-debug\n $ rdebug foo.rb
416,debugging,benchmark code,console.time('product');\n let n = 1;\n for (l...,"import timeit\n \n timeit.timeit('i += 1',\n ...",,require 'benchmark'\n \n n = 1_000_000\n i = 0...
417,debugging,profile code,$ node --prof foo.js\n $ node --prof-process *...,$ python -m cProfile foo.py,,$ sudo gem install ruby-prof\n $ ruby-prof foo.rb
418,debugging,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...

In [152]:
df.columns

Index(['version', 'Unnamed: 1', 'node.js', 'python', 'php', 'ruby'], dtype='object')

In [153]:
df.iloc[5:15,[0,1,icol1+1] ]
###df.iloc[5:15,[0,1,icol1] ]  # ???

,version,Unnamed: 1,node.js
5,grammar and execution,interpreter,$ node foo.js
6,grammar and execution,repl,$ node
7,grammar and execution,command line program,"$ node -e ""console.log('hi!');"""
8,grammar and execution,block delimiters,{}
9,grammar and execution,statement separator,; or newline\n \n newline not separator inside...
10,grammar and execution,source code encoding,source is always UTF-8
11,grammar and execution,end-of-line comment,// comment
12,grammar and execution,multiple line comment,/* line\n another line */
13,variables and expressions,variables and expressions,variables and expressions
14,variables and expressions,,node.js

In [154]:
df2=df.copy()
dfsheet=df2.copy() #df5.copy() 

dfsheet9=dfsheet.copy()

In [155]:
##fname2= '../overwrite/foo/'+     str1+'--martin12333'+'.csv'
#fname2= '../overwrite/foo/'+     str1+'.csv'
fname3= '../overwrite/hyperpolyglot.f8'+ fname3b

#fnamexlsx= '../overwrite/foo/'+     str1+'.xlsx'
print(fname3)

../overwrite/hyperpolyglot.f8.js

In [156]:
def f6(row):
    #print(row.iat[1])
    return (
        #commentstr +   row.iat[0].strip()+'\n'+
        commentstr +  row.iat[1]+'\n'+
        row.iat[1+icol1]+'\n'
    )

In [157]:
str9 = '\n'.join( dfsheet9.apply(f6,axis=1) )
str9[:200]

"// version used\n6.11\n\n// show version\n$ node --version\n\n// implicit prologue\n// npm install lodash\n const _ = require('lodash');\n\n// grammar and execution\ngrammar and execution\n\n// \nnode.js\n\n// interp"

In [158]:
str91=re.sub(r'\n\n\n+','\n\n', str9)

In [159]:
with open(fname3, mode='w' ,encoding='utf-8'  ) as fw:
    fw.write(str91)
print(fname3)

../overwrite/hyperpolyglot.f8.js

In [82]:
str9.__len__()
str91.__len__()

12877

# old notes to M. M.

In [34]:
#len('\r\n'.strip())

In [35]:
#dff8=dfsheet9.iloc[:,[0,1,icol1+1] ]
##dff8=dfsheet9.iloc[:,[0,icol1+1] ]

In [36]:
#dff8.to_csv(fname3, 
#     header=False, index=False, sep='\n', #quoting=csv.QUOTE_NONE,
 #   quoting=csv.QUOTE_ALL, quotechar=' ', escapechar='', line_terminator='\n\n')

In [37]:


#dfsheet9.to_csv(path_or_buf=fname2, header=False, index=False)

NameError: name 'fname2' is not defined

In [62]:
dfsheet9[:35] #df[:40]

,startup,startup.1,startup.2,startup.3,startup.4
0,,vim,emacs,emacs,nano
1,launch,$ vim,$ emacs,$ emacs,$ nano
2,open file,$ vim file,$ emacs file,$ emacs file,$ nano file
3,open file on line 100,$ vim +100 file,$ emacs +100 file,$ emacs +100 file,$ nano +100 file
4,open file on column 20 of line 100,$ vim +100 -c 'normal 20|' file,$ emacs +100:20 file,$ emacs +100:20 file,"$ nano +100,20 file"
5,open file in read-only mode,$ vim -R file,,,$ nano -v file
6,open multiple files,$ vim file1 file2 \n... \n only first file is ...,$ emacs file1 file2 \n... \n window is split i...,$ nano file1 file2 \n... \n //only first file ...,
7,open directory,$ vim dir,$ emacs dir,$ emacs dir,
8,startup file,~/.vimrc,~/.emacs\n ~/.emacs.el\n ~/.emacs.d/init.el,~/.nanorc,
9,skip startup file,$ vim -u NONE,$ emacs -q,$ emacs -q,$ nano -I
10,text editing,text editing,text editing,text editing,text editing
11,,vim,emacs,emacs,nano
12,show version,:version,,M-x emacs-version,
13,redraw display,C-l,,M-x redraw-display,
14,insert 'x',insert mode:\n x,x,,x
15,insert by unicode point,insert mode:\n C-v u 03c0,C-x 8 RET 03c0 RET,M-x ucs-insert 03c0 RET,
16,insert by unicode name,,C-x 8 RET greek small letter pi RET,M-x ucs-insert greek small letter pi RET,
17,get unicode point,,,M-x describe-char,
18,cancel,ESC,C-g,M-x keyboard-quit,
19,insert control character,C-v char,C-q char,M-x quoted-insert char,M-v
20,insert newline,C-v RET,C-q C-j,,
21,auto complete,C-n\n C-p,M-/,M-x hippie-expand,
22,repeat next command n times,n,C-u n,M-x universal-argument n,
23,repeat 4 times,4,C-u,M-x universal-argument,
24,repeat 16 times,16,C-u C-u,,
25,font size,use menu or OS,"C-x C-=, C-x C--",M-x text-scale-adjust,
26,exit,:q,C-x C-c,M-x save-buffers-kill-terminal,C-x
27,save changes and exit,ZZ\n :wq,C-x C-s C-x C-c,M-x save-buffer\n M-x save-buffers-kill-terminal,
28,discard changes and exit,:q!,,M-x kill-emacs,
29,mode,mode,mode,mode,mode
30,,vim,emacs,emacs,nano
31,change mode,"normal to insert:\n a, i, o, O\n \n back to no...",,M-x mode-name,
32,show mode,"insert, visual, select, and replace indicated ...",displayed on mode line,M-: major-mode,
33,mode documentation,,C-h m,M-x describe-mode,
34,set key binding,:map key cmd,,M-x global-set-key RET key cmd,

In [73]:
df['version']

0
1           version used....
2           show version....
3      implicit prologue....
4      grammar and execution
               ...
228         start thread....
229       wait on thread....
230                    sleep
231                  timeout
232
Name: version, Length: 233, dtype: object

In [30]:
df.describe()

       version version.1 version.2 version.3 version.4
count      233       233       233       233       233
unique     217       195       211       199       216
top                 none    python       php      ruby
freq        14        22        13        13        13

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   version    233 non-null    object
 1   version.1  233 non-null    object
 2   version.2  233 non-null    object
 3   version.3  233 non-null    object
 4   version.4  233 non-null    object
dtypes: object(5)
memory usage: 9.2+ KB

In [ ]:
id(8)

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 '_oh': {2: {...}},
 '_dh': [WindowsPath('c:/Users/marti/OneDrive/jupyter-notebooks')],
 'In': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 'Out': {2: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001DC707843D0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 '_': {...},
 '__': '',
 '___': '',
 'os': <module 'os' from 'd:\\conda\\lib\\os.py'>,
 'sys': <module 'sys' (built-in)>,
 '__vsc_ipynb_file__': 'c:\\Users\\marti\\OneDrive\\jupyter-notebooks\\pandas-1.ipynb',
 '_i': 'globals()',
 '_ii': 'import pandas as pd\nimport numpy as np',
 '_iii': '',
 '_i1': 'import pandas as pd\nimport numpy as np',
 'pd': <module 'pandas' from 'd:\\conda\\lib\\site-packages\\pandas\\__init__.py'>,
 'np': <module 'numpy' from 'd:\\conda\\lib\\site-packages\\numpy\\__init__.py'>,
 '_i2': 'globals()',
 '_2': {...},
 '_i3': 'globals()'}

In [4]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih']

In [5]:
pd.Series(dir(pd))

0          BooleanDtype
1           Categorical
2      CategoricalDtype
3      CategoricalIndex
4             DataFrame
             ...
136             tseries
137              unique
138                util
139        value_counts
140        wide_to_long
Length: 141, dtype: object

In [6]:
seri=pd.Series(dir(pd))

In [7]:
seri=pd.Series(globals())

In [8]:
seri=dfa.li

NameError: name 'dfa' is not defined

In [10]:
seri=pd.Series(_ih)

In [11]:
seri

0
1     import pandas as pd\nimport numpy as np
2                                   globals()
3                                   globals()
4                                         _ih
5                          pd.Series(dir(pd))
6                     seri=pd.Series(dir(pd))
7                   seri=pd.Series(globals())
8                                 seri=dfa.li
9                         seri=pd.Series(_ih)
10                        seri=pd.Series(_ih)
dtype: object

In [12]:
seri[seri.str.contains('seri[=]')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [13]:
seri[seri.str.contains('^ser')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [14]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih',
 'pd.Series(dir(pd))',
 'seri=pd.Series(dir(pd))',
 'seri=pd.Series(globals())',
 'seri=dfa.li',
 'seri=pd.Series(_ih)',
 'seri=pd.Series(_ih)',
 'seri',
 "seri[seri.str.contains('seri[=]')]",
 "seri[seri.str.contains('^ser')]",
 '_ih']

In [18]:
dir(seri.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [16]:
df1.columns

NameError: name 'df1' is not defined

In [ ]:
pd.DataFrame(dir(pd))

In [ ]:
dir(pd)

In [ ]:
dtype1= {'c': np.int32 , 'x': np.float64 } #, dtype=dtype1

In [ ]:
dfa=pd.read_csv('f3-of-f234.csv',sep=',',names=['li']) #,,skipinitialspace=True)

In [ ]:
# not strange ... just right aligned

In [ ]:
notstrange1=dfa.li.str.replace(' ','------')

In [ ]:
notstrange1

In [ ]:
notstrange1.to_csv('s1')

In [ ]:
notstrange1.to_frame('s1')

In [ ]:
notstrange1.to_list()

In [ ]:
notstrange1.to_numpy()

In [ ]:
notstrange1.to_string()

In [ ]:
dfa.li.str.replace(' ','-----')

In [ ]:
dfa.li.str.replace('\t','------')

In [ ]:
df1=pd.read_csv('f3-of-f234.csv',sep=' ',names=['c','x'],skipinitialspace=True)

In [ ]:
(10*df1).round()/10

In [ ]:
df1.eval('y=floor(10*x)/10', inplace=True)

In [ ]:
df11=df1

In [ ]:
df1.drop(columns=['x'],inplace=True)

In [ ]:
df12=df1

In [ ]:
df3=df1.groupby(by=['y']).sum()

In [ ]:
df3.to_csv('f3-of-f234-groupby.csv')

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df1

In [ ]:
dir(df1)

In [ ]:
df1.describe()

In [ ]:
df1.info()

In [ ]:
df1.lkey

In [ ]:
dir(df1.x)

In [ ]:
dir(np)

In [ ]:
se=pd.Series(["a", "b", "c"])

In [ ]:
se.str.upper()

In [ ]:
df.columns

In [2]:

#str1b='text-mode-editors.html'
#str1='../hyperpolyglot--html-backup/text-mode-editors.html'

#str1='../hyperpolyglot--html-backup/lisp.html'

#str1='../hyperpolyglot----PANDAS/spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell.xhtml'


## pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\Scripting Languages II_ Perl, Lua, Groovy - Hyperpolyglot.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\scripting.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\ml.html')