# A Jupyter notebook to convert a hyperpolyglot.org HTML table to CSV

##### (I am a beginner in Pandas, and a false-beginner in Python)

In [8]:
inputdir= '../hyperpolyglot--html-backup/'
outputdir= '../overwrite/foo/'+  inputdir
%mkdir  "../overwrite/foo"
%mkdir  "{outputdir}"
####%mkdir  ${outputdir}
#%ls {outputdir}
#!echo {outputdir}
#%mkdir  "../overwrite/foo/../hyperpolyglot--html-backup"

A subdirectory or file ../overwrite/foo already exists.
A subdirectory or file ../overwrite/foo/../hyperpolyglot--html-backup/ already exists.

In [12]:
## https://hyperpolyglot.org/numerical-analysis2#tables
import pandas as pd
import csv
import numpy as np

#%ls ..\hyperpolyglot--html-backup\*.html
%ls "{inputdir}\*.html"

 Volume in drive C is Windows
 Volume Serial Number is 2480-D21D

 Directory of C:\Users\marti\OneDrive\hyperpolyglot--html-backup

08/14/2022  16:25           212,197 2Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html
08/08/2023  16:18           233,063 2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html
08/14/2022  16:26            93,246 Build Tools_ Make, Rake, Ant, Gradle - Hyperpolyglot.html
05/28/2022  15:48           240,884 c.html
08/08/2022  21:30            96,981 Command Line Interpreters_ POSIX Shell, Cmd.exe, PowerShell - Hyperpolyglot.html
08/14/2022  16:25           130,454 Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html
05/28/2022  15:48            94,097 computer-algebra.html
05/28/2022  15:48           239,179 cpp.html
05/28/2022  15:48            74,952 data.html
05/28/2022  15:48            23,149 distributions.html
05/28/2022  15:48            55,417 fortran.html
05/28/2022  15:48           122,639 gui.html
05/28/2022  15:48            25,660 json.html
08/10/2022  16:21            42,488 Lightweight Markup_ Markdown, reStructuredText, MediaWiki, AsciiDoc, Org-mode - Hyperpolyglot.html
05/28/2022  15:48           216,559 lisp.html
06/11/2017  07:23            63,758 logic.html
05/28/2022  15:48            47,062 misc-math.html
08/08/2022  21:30           123,250 ML Dialects and Haskell_ SML, OCaml, F#, Haskell - Hyperpolyglot.html
06/11/2017  07:23           123,250 ml.html
05/28/2022  15:48           195,351 more.html
05/28/2022  15:48           124,141 more-computer-algebra.html
05/28/2022  15:48            27,722 multiplexers.html
08/08/2023  16:18           215,659 Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html
05/28/2022  15:48           168,095 numerical-analysis.html
05/28/2022  15:48           189,143 numerical-analysis2.html
06/11/2017  07:23            71,412 pascal.html
08/10/2022  16:20            77,640 Relational Databases_ PostgreSQL, MySQL, SQLite - Hyperpolyglot.html
05/28/2022  15:48           129,548 rust.html
08/08/2022  21:29           179,901 Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html
08/08/2022  21:29           275,527 Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html
08/08/2022  23:29           200,788 Scripting Languages II_ Perl, Lua, Groovy - Hyperpolyglot.html
06/11/2017  07:23           283,313 scripting.html
05/28/2022  15:48           184,135 scripting2.html
05/28/2022  15:42            94,173 shell.html
05/28/2022  15:48            57,029 stack.html
05/28/2022  15:44             9,174 start.html
05/28/2022  15:48           150,943 text-mode-editors.html
08/14/2022  16:26           178,026 Unix Shells_ Bash, Fish, Ksh, Tcsh, Zsh - Hyperpolyglot.html
05/28/2022  15:48            54,549 vector-graphics.html
05/28/2022  15:48           117,168 version-control.html
05/28/2022  15:48           119,291 web.html
              41 File(s)      5,361,013 bytes
               0 Dir(s)  13,470,597,120 bytes free

In [5]:
# python js
str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'

In [32]:
# python js 2!
str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'

In [33]:
# pwsh
#####str1='../hyperpolyglot--html-backup/shell.html'
str1='../hyperpolyglot--html-backup/Command Line Interpreters_ POSIX Shell, Cmd.exe, PowerShell - Hyperpolyglot.html'

In [ ]:
238.8 I CANNOT REMEMBER, WHICH ARE BETTER ... (A) LONG---NAMED---.html (B) shortname.html .... but judging from this  `# pwsh` , probably (A)

In [34]:
str1='../hyperpolyglot--html-backup/ML Dialects and Haskell_ SML, OCaml, F#, Haskell - Hyperpolyglot.html'

In [5]:
str1='../hyperpolyglot--html-backup/Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html'
str1='../hyperpolyglot--html-backup/2Computer Algebra I_ Mathematica, SymPy, Sage, Maxima - Hyperpolyglot.html'

In [21]:
str1='../hyperpolyglot--html-backup/Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html'
str1='../hyperpolyglot--html-backup/2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html'

In [36]:
str1='../hyperpolyglot--html-backup/lisp.html'

In [37]:
# emacs
str1='../hyperpolyglot--html-backup/text-mode-editors.html'

In [38]:
# tcl
str1='../hyperpolyglot--html-backup/gui.html'

In [22]:
with open(str1,encoding='utf-8' )  as f:    fstr=f.read().strip()

##fstr[3870:3872]
# </a><br />\n<span style="white-space: pre-wrap;">\xa0</s
#fstr[3800:3872]

s2=fstr.replace('\n','....\n')
##s2=fstr.replace('\n',' @@@\n')
#s2=fstr.replace('\n','@@@@\n')
#s2=fstr.replace('\n','@@@\n')
#s2=fstr.replace('\n','.....\n')

In [23]:
#dfs=pd.read_html(str1,  flavor='bs4')
dfs=pd.read_html(s2, header=0  , flavor='bs4',  keep_default_na=False )
##dfs=pd.read_html(s2,  flavor='bs4',  keep_default_na=False )
df=dfs[0]

In [24]:
## spreadsheet issue #1  ... 'x ... = ... +x ... (active characters ... '=+ ...) at the start of a cell (excel online also ... - x ... )
## spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell (excel online also ... - x ... )

#f2
def f2(x):
    if x.startswith('='):
        x="'"+x
    return x.replace('....','\n').strip()
f2('=..... .... ')

#df.replace(to_replace='....', value='\n', regex=False)
df2=df.applymap(f2)

In [25]:
#alter
##dfs=pd.read_html(str1,  flavor='bs4')
#dfs=pd.read_html(str1, header=0  , flavor='bs4',  keep_default_na=False)   #, encoding='utf-8')
#warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored."
#df=dfs[0]

#debug
df.columns
df2.values[2,0]
#df.values[:,2]
s=df2.values[2,2]
s.split('\n')
type(df2.iloc[30])
se=df2.iloc[29] #30]
se.iat[0]

'change decimal mark'

In [26]:
1==6==1 # chaining
def f4(row):
    if (row.iat[0]==row.iat[1]) and row.iat[1]==row.iat[2]:
        #return  'section: ' +   row.iat[0]
        return     row.iat[0]
    else:
        return ''
    
## deleted df5 cells

###dfsheet5=df5.replace(to_replace=r'^', value="='", regex=True)
###dfsheet=df.replace(to_replace=r'^', value="'", regex=True)
dfsheet=df2 #df5 ### copies merely the reference
dfsheet=df2.copy() #df5.copy() 

se3= dfsheet.apply(f4, axis=1)
se3[se3!='']

18          import and export
38         relational algebra
55                aggregation
62                    vectors
71                   matrices
99            sparse matrices
106              optimization
116               polynomials
125    descriptive statistics
140             distributions
155         linear regression
162         statistical tests
179               time series
198    fast fourier transform
205                clustering
213                    images
219                     sound
226                bar charts
237             scatter plots
251               line charts
260            surface charts
269             chart options
dtype: object

In [27]:
se3[se3==''] = np.nan
print(df.columns[0])
if  df.columns[0].startswith('Unnamed'):
##if not len(df.columns[0]):
    se3[0]='version' # command ---shell.html !
else:
    se3[0]=df.columns[0]

se3

tables

0      tables
1         NaN
2         NaN
3         NaN
4         NaN
        ...
282       NaN
283       NaN
284       NaN
285       NaN
286       NaN
Length: 287, dtype: object

In [28]:
#se3.ffill(inplace=True, )
se4=se3.ffill( )
se4

0             tables
1             tables
2             tables
3             tables
4             tables
           ...
282    chart options
283    chart options
284    chart options
285    chart options
286    chart options
Length: 287, dtype: object

In [29]:
dfsheet3=dfsheet ### copies merely the reference
dfsheet3=dfsheet.copy()
dfsheet3.insert(0,'section',se4 )   #se3)
dfsheet3 #[25:35]
dfsheet9=dfsheet3 ### copies merely the reference
dfsheet9=dfsheet3.copy()
#del dfsheet

#fname2= '../overwrite/foo/'+     str1+'--martin12333'+'.csv'
fname2= '../overwrite/foo/'+     str1+'.csv'
##fname3= '../overwrite/hyperpolyglot.f8'+ fname3b
fnamexlsx= '../overwrite/foo/'+     str1+'.xlsx'
print(fname2)

../overwrite/foo/../hyperpolyglot--html-backup/2Numerical Analysis & Statistics_ MATLAB, R, NumPy, Julia - Hyperpolyglot.html.csv

In [30]:
dfsheet9.to_csv(path_or_buf=fname2, header=False, index=False)
dfsheet9 #[20:40]

#dfsheet.to_excel(fnamexlsx, index=False, header=False)
##alter
#test =dfsheet # df5 # pd.DataFrame(biglist)
#writer = pd.ExcelWriter(  fnamexlsx  ,   engine='xlsxwriter')
#test.to_excel(writer,sheet_name='test', index=False, header=False)
#writer.save()

,section,tables,tables.1,tables.2,tables.3,tables.4,Unnamed: 5
0,tables,,matlab,r,numpy,julia,
1,tables,construct from column arrays,sx = {'F' 'F' 'F' 'M' 'M' 'M'} \n ht = [69 64 ...,"# gender, height, weight of some people \n # i...","sx = ['F', 'F', 'F', 'F', 'M', 'M'] \n ht = [6...",,
2,tables,construct from row dictionaries,,,"rows = [ \n {'sx': 'F', 'ht': 69, 'wt': 150},...",,
3,tables,size,height(people) \n width(people),nrow(people) \n ncol(people) \n \n # number of...,len(people) \n len(people.columns),,
4,tables,column names as array,people.Properties.VariableNames,names(people) \n colnames(people),returns Index object: \n people.columns,,
...,...,...,...,...,...,...,...
282,chart options,open new plot window,open new plot \n figure \n open new plot,hist(rnorm(100)) \n dev.new() \n hist(rnorm(100)),,,
283,chart options,close all plot windows,close all,graphics.off(),,,
284,chart options,save plot as png,"f = figure \n hist(randn(100)) \n print(f, '-d...",png('hist.png') \n hist(rnorm(100)) \n dev.off(),y = randn(50) \n plot(y) \n savefig('line-plot...,,
285,chart options,save plot as svg,,svg('hist.svg') \n hist(rnorm(100)) \n dev.off(),,,
286,chart options,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...,

In [31]:
inputdir

'../hyperpolyglot--html-backup/'

In [32]:
dfsheet9 #[:35] #df[:40]

,section,tables,tables.1,tables.2,tables.3,tables.4,Unnamed: 5
0,tables,,matlab,r,numpy,julia,
1,tables,construct from column arrays,sx = {'F' 'F' 'F' 'M' 'M' 'M'} \n ht = [69 64 ...,"# gender, height, weight of some people \n # i...","sx = ['F', 'F', 'F', 'F', 'M', 'M'] \n ht = [6...",,
2,tables,construct from row dictionaries,,,"rows = [ \n {'sx': 'F', 'ht': 69, 'wt': 150},...",,
3,tables,size,height(people) \n width(people),nrow(people) \n ncol(people) \n \n # number of...,len(people) \n len(people.columns),,
4,tables,column names as array,people.Properties.VariableNames,names(people) \n colnames(people),returns Index object: \n people.columns,,
...,...,...,...,...,...,...,...
282,chart options,open new plot window,open new plot \n figure \n open new plot,hist(rnorm(100)) \n dev.new() \n hist(rnorm(100)),,,
283,chart options,close all plot windows,close all,graphics.off(),,,
284,chart options,save plot as png,"f = figure \n hist(randn(100)) \n print(f, '-d...",png('hist.png') \n hist(rnorm(100)) \n dev.off(),y = randn(50) \n plot(y) \n savefig('line-plot...,,
285,chart options,save plot as svg,,svg('hist.svg') \n hist(rnorm(100)) \n dev.off(),,,
286,chart options,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...,

In [ ]:
#df['version']

In [34]:
df.describe()

       tables tables.1 tables.2 tables.3 tables.4 Unnamed: 5
count     287      287      287      287      287        287
unique    260      162      210      160       58          1
top
freq       24      103       53      103      207        287

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tables      287 non-null    object
 1   tables.1    287 non-null    object
 2   tables.2    287 non-null    object
 3   tables.3    287 non-null    object
 4   tables.4    287 non-null    object
 5   Unnamed: 5  287 non-null    object
dtypes: object(6)
memory usage: 13.6+ KB

# old notes to M. M.

In [ ]:
todo related: https://github.com/code-rosettas/hyperpolyglot-CSV

In [4]:
#%mkdir  "../overwrite/foo/../hyperpolyglot----PANDAS"
#%mkdir  "../overwrite/hyperpolyglot-CSV-229/"


#str1='../hyperpolyglot--html-backup/lisp.html'

#str1='../hyperpolyglot----PANDAS/spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell.xhtml'


## pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\Scripting Languages II_ Perl, Lua, Groovy - Hyperpolyglot.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\scripting.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\ml.html')

# old M. M. experiments, copied to jupyter-notebooks\NEHYPER-pandas-1.ipynb