In [2]:
to csv

In [40]:
## https://hyperpolyglot.org/numerical-analysis2#tables
import pandas as pd
import csv
import numpy as np

In [41]:
%mkdir  "../overwrite/foo/../hyperpolyglot--html-backup"
%mkdir  "../overwrite/foo/../hyperpolyglot----PANDAS"
%mkdir  "../overwrite/foo"

A subdirectory or file ../overwrite/foo/../hyperpolyglot--html-backup already exists.
A subdirectory or file ../overwrite/foo/../hyperpolyglot----PANDAS already exists.
A subdirectory or file ../overwrite/foo already exists.

In [42]:

str1='../hyperpolyglot--html-backup/text-mode-editors.html'

#str1='../hyperpolyglot--html-backup/lisp.html'

#str1='../hyperpolyglot----PANDAS/spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell.xhtml'


## pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\Scripting Languages II_ Perl, Lua, Groovy - Hyperpolyglot.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\scripting.html')

##pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\ml.html')

In [43]:
# python js

str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - 2 - Hyperpolyglot.html'
str1='../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'

In [ ]:
# emacs
str1='../hyperpolyglot--html-backup/text-mode-editors.html'

In [44]:
with open(str1,encoding='utf-8' )  as f:    fstr=f.read().strip()
    #fstr

In [45]:
##fstr[3870:3872]
# </a><br />\n<span style="white-space: pre-wrap;">\xa0</s
#fstr[3800:3872]

In [46]:
##s2=fstr.replace('\n',' @@@\n')
#s2=fstr.replace('\n','@@@@\n')
#s2=fstr.replace('\n','@@@\n')
#s2=fstr.replace('\n','.....\n')
s2=fstr.replace('\n','....\n')

In [86]:
#dfs=pd.read_html(str1,  flavor='bs4')
dfs=pd.read_html(s2, header=0  , flavor='bs4',  keep_default_na=False )
##dfs=pd.read_html(s2,  flavor='bs4',  keep_default_na=False )
df=dfs[0]

In [93]:
df

,version,version.1,version.2,version.3,version.4
0,,node.js,python,php,ruby
1,version used....,6.11,3.6,7.0,2.3
2,show version....,$ node --version,$ python -V.... $ python --version,$ php --version,$ ruby --version
3,implicit prologue....,// npm install lodash.... const _ = require('l...,"import os, re, sys",# sudo apt install php-mbstring,none
4,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
...,...,...,...,...,...
228,start thread....,,class sleep10(threading.Thread):.... def run(...,,thr = Thread.new { sleep 10 }
229,wait on thread....,,thr.join(),,thr.join
230,sleep,,import time.... .... time.sleep(0.5),# a float argument will be truncated.... # to ...,sleep(0.5)
231,timeout,,"import signal, time.... .... class Timeout(Exc...",use set_time_limit to limit execution time of ...,require 'timeout'.... .... begin.... Timeout....
232,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...

In [94]:
#f2

def f2(x):
    if x.startswith('='):
        x="'"+x
    return x.replace('....','\n').strip()

f2('=..... .... ')

"'=\n."

In [95]:

#df.replace(to_replace='....', value='\n', regex=False)
df2=df.applymap(f2)

In [96]:
df2

,version,version.1,version.2,version.3,version.4
0,,node.js,python,php,ruby
1,version used,6.11,3.6,7.0,2.3
2,show version,$ node --version,$ python -V\n $ python --version,$ php --version,$ ruby --version
3,implicit prologue,// npm install lodash\n const _ = require('lod...,"import os, re, sys",# sudo apt install php-mbstring,none
4,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
...,...,...,...,...,...
228,start thread,,class sleep10(threading.Thread):\n def run(se...,,thr = Thread.new { sleep 10 }
229,wait on thread,,thr.join(),,thr.join
230,sleep,,import time\n \n time.sleep(0.5),# a float argument will be truncated\n # to an...,sleep(0.5)
231,timeout,,"import signal, time\n \n class Timeout(Excepti...",use set_time_limit to limit execution time of ...,require 'timeout'\n \n begin\n Timeout.timeou...
232,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...

In [98]:
#alter
##dfs=pd.read_html(str1,  flavor='bs4')
#dfs=pd.read_html(str1, header=0  , flavor='bs4',  keep_default_na=False)   #, encoding='utf-8')
#warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored."
#df=dfs[0]

In [97]:
df.columns

Index(['version', 'version.1', 'version.2', 'version.3', 'version.4'], dtype='object')

In [98]:
df2.values[2,0]
#df.values[:,2]
s=df2.values[2,2]
s.split('\n')

['$ python -V', ' $ python --version']

In [99]:
type(df2.iloc[30])

pandas.core.series.Series

In [100]:
se=df2.iloc[29] #30]
se.iat[0]

'arithmetic and logic'

In [54]:
1==6==1 # chaining

False

In [101]:

def f4(row):
    if (row.iat[0]==row.iat[1]) and row.iat[1]==row.iat[2]:
        #return  'section: ' +   row.iat[0]
        return     row.iat[0]
    else:
        return ''
    

#f2('=..... .... ')

In [ ]:
df5=df2[25:35]

In [56]:
df5.apply(f4, axis=1)

25
26
27
28
29    arithmetic and logic
30
31
32
33
34
dtype: object

In [57]:
#df5.to_csv(header=False, index=False)
df5.to_csv( index=False)

'version,version.1,version.2,version.3,version.4\r\nnull,null,None,NULL # case insensitive,nil\r\nnull test,v === null,v is None,"is_null($v)\n ! isset($v)","v == nil\n v.nil?"\r\nundefined variable,"Evaluates as undefined\n \n Use the triple equality === operator to test for this value.",raises NameError,Evaluates as NULL,raises NameError\r\nconditional expression,x > 0 ? x : -x,x if x > 0 else -x,$x > 0 ? $x : -$x,x > 0 ? x : -x\r\narithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic\r\n,node.js,python,php,ruby\r\ntrue and false,true false,True False,TRUE FALSE # case insensitive,true false\r\nfalsehoods,false null undefined \'\' 0 NaN,False None 0\xa00.0 \'\' [] {},"FALSE NULL 0\xa00.0 """" ""0"" []",false nil\r\nlogical operators,&& || !,and or not,"&& || !\n lower precedence:\n and or xor","&& || !\n lower precedence:\n and or not"\r\nrelational operators,"\'=== !== < > >= <=\n \n perform type coercion:\n == !=","relational operators are chainable:\n == != > < >= <=","\'== != or <> > < >= <=\n no conversion: === !==",\'== != > < >= <=\r\n'

In [102]:

###dfsheet5=df5.replace(to_replace=r'^', value="='", regex=True)
###dfsheet=df.replace(to_replace=r'^', value="'", regex=True)
dfsheet=df2 #df5 ### copies merely the reference
dfsheet=df2.copy() #df5.copy()

In [103]:
df2

,version,version.1,version.2,version.3,version.4
0,,node.js,python,php,ruby
1,version used,6.11,3.6,7.0,2.3
2,show version,$ node --version,$ python -V\n $ python --version,$ php --version,$ ruby --version
3,implicit prologue,// npm install lodash\n const _ = require('lod...,"import os, re, sys",# sudo apt install php-mbstring,none
4,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
...,...,...,...,...,...
228,start thread,,class sleep10(threading.Thread):\n def run(se...,,thr = Thread.new { sleep 10 }
229,wait on thread,,thr.join(),,thr.join
230,sleep,,import time\n \n time.sleep(0.5),# a float argument will be truncated\n # to an...,sleep(0.5)
231,timeout,,"import signal, time\n \n class Timeout(Excepti...",use set_time_limit to limit execution time of ...,require 'timeout'\n \n begin\n Timeout.timeou...
232,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...

In [104]:
se3= dfsheet.apply(f4, axis=1)

In [105]:
se3[se3!='']

4          grammar and execution
14     variables and expressions
29          arithmetic and logic
60                       strings
98           regular expressions
114               dates and time
134                       arrays
169                 dictionaries
185                    functions
206            execution control
215                   exceptions
226                      threads
dtype: object

In [106]:
se3[se3==''] = np.nan
se3[0]=df.columns[0]

In [107]:
#se3.ffill(inplace=True, )
se4=se3.ffill( )

In [108]:
se4

0                    version
1                    version
2                    version
3                    version
4      grammar and execution
               ...
228                  threads
229                  threads
230                  threads
231                  threads
232                  threads
Length: 233, dtype: object

In [109]:
dfsheet3=dfsheet ### copies merely the reference
dfsheet3=dfsheet.copy()
dfsheet3.insert(0,'section',se4 )   #se3)

In [111]:
dfsheet3 #[25:35]

,section,version,version.1,version.2,version.3,version.4
0,version,,node.js,python,php,ruby
1,version,version used,6.11,3.6,7.0,2.3
2,version,show version,$ node --version,$ python -V\n $ python --version,$ php --version,$ ruby --version
3,version,implicit prologue,// npm install lodash\n const _ = require('lod...,"import os, re, sys",# sudo apt install php-mbstring,none
4,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
...,...,...,...,...,...,...
228,threads,start thread,,class sleep10(threading.Thread):\n def run(se...,,thr = Thread.new { sleep 10 }
229,threads,wait on thread,,thr.join(),,thr.join
230,threads,sleep,,import time\n \n time.sleep(0.5),# a float argument will be truncated\n # to an...,sleep(0.5)
231,threads,timeout,,"import signal, time\n \n class Timeout(Excepti...",use set_time_limit to limit execution time of ...,require 'timeout'\n \n begin\n Timeout.timeou...
232,threads,,______________________________________________...,______________________________________________...,______________________________________________...,______________________________________________...

In [112]:
dfsheet9=dfsheet3 ### copies merely the reference
dfsheet9=dfsheet3.copy()

In [113]:
#del dfsheet

In [114]:
#fname2= '../overwrite/foo/'+     str1+'--martin12333'+'.csv'
fname2= '../overwrite/foo/'+     str1+'.csv'
##fname3= '../overwrite/hyperpolyglot.f8'+ fname3b

fnamexlsx= '../overwrite/foo/'+     str1+'.xlsx'
print(fname2)

../overwrite/foo/../hyperpolyglot--html-backup/Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html.csv

In [115]:
#dfsheet.to_excel(fnamexlsx, index=False, header=False)

In [116]:

##alter

#test =dfsheet # df5 # pd.DataFrame(biglist)
#writer = pd.ExcelWriter(  fnamexlsx  ,   engine='xlsxwriter')
#test.to_excel(writer,sheet_name='test', index=False, header=False)
#writer.save()

In [117]:
## !!spreadsheet issue #1  ... 'x ... = ... +x ... (active characters ... '=+ ...) at the start of a cell (excel online also ... - x ... )
## spreadsheet-issue-1-apos-equ-plus-minus--active characters at the start of a cell (excel online also ... - x ... )

In [118]:


dfsheet9.to_csv(path_or_buf=fname2, header=False, index=False)

In [119]:
dfsheet9[:35] #df[:40]

,section,version,version.1,version.2,version.3,version.4
0,version,,node.js,python,php,ruby
1,version,version used,6.11,3.6,7.0,2.3
2,version,show version,$ node --version,$ python -V\n $ python --version,$ php --version,$ ruby --version
3,version,implicit prologue,// npm install lodash\n const _ = require('lod...,"import os, re, sys",# sudo apt install php-mbstring,none
4,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
5,grammar and execution,,node.js,python,php,ruby
6,grammar and execution,interpreter,$ node foo.js,$ python foo.py,$ php -f foo.php,$ ruby foo.rb
7,grammar and execution,repl,$ node,$ python,$ php -a,$ irb
8,grammar and execution,command line program,"$ node -e ""console.log('hi!');""","$ python -c 'print(""hi!"")'","$ php -r 'echo ""hi!\n"";'","$ ruby -e 'puts ""hi!""'"
9,grammar and execution,block delimiters,{},: and offside rule,{},{}\n do end
10,grammar and execution,statement separator,; or newline\n \n newline not separator inside...,newline or ;\n \n newlines not separators insi...,;\n \n statements must be semicolon terminated...,newline or ;\n \n newlines not separators insi...
11,grammar and execution,source code encoding,source is always UTF-8,Python 3 source is UTF-8 by default; Python 2 ...,none,Ruby 2.0 source is UTF-8 by default\n \n # -*-...
12,grammar and execution,end-of-line comment,// comment,# comment,// comment\n # comment,# comment
13,grammar and execution,multiple line comment,/* line\n another line */,use triple quote string literal:\n \n '''comme...,/* comment line\n another line */,'=begin\n comment line\n another line\n =end
14,variables and expressions,variables and expressions,variables and expressions,variables and expressions,variables and expressions,variables and expressions
15,variables and expressions,,node.js,python,php,ruby
16,variables and expressions,local variable,"// new in ES6:\n let x = 1;\n let y = 2, z = 3...","# in function body:\n x = 1\n y, z = 2, 3","# in function body:\n $x = 1;\n list($y, $z) =...","x = 1\n y, z = 2, 3"
17,variables and expressions,file scope variable,// outside any function body:\n let n = 1;\n \...,none,none,none
18,variables and expressions,global variable,global.g = 1;\n \n incrGlobal () { global.g++; },g = 1\n \n def incr_global():\n global g\n g...,$g = 1;\n \n function incr_global() {\n globa...,$g = 1\n \n def incr_global\n $g += 1\n end
19,variables and expressions,constant,// new in ES6\n const PI = 3.14;,# uppercase identifiers\n # constant by conven...,"define(""PI"", 3.14);\n \n const PI = 3.14;",# warning if capitalized\n # identifier is rea...
20,variables and expressions,assignment,v = 1;,# assignments can be chained\n # but otherwise...,$v = 1;,v = 1
21,variables and expressions,parallel assignment,"// new in ES6:\n let [x, y, z] = [1, 2, 3];","x, y, z = 1, 2, 3\n \n # raises ValueError:\n ...","list($x, $y, $z) = [1 ,2, 3];\n \n # 3 is disc...","x, y, z = 1, 2, 3\n \n # 3 is discarded:\n x, ..."
22,variables and expressions,swap,"// new in ES6:\n [x, y] = [y, x];","x, y = y, x","list($x, $y) = [$y, $x];","x, y = y, x"
23,variables and expressions,"compound assignment\n arithmetic, string, logi...",+= -= *= /= none %=\n +=\n none\n <<= >>= &= |...,# do not return values:\n += -= *= /= //= %= *...,+= -= *= none /= %= **=\n .= none\n &= |= none...,+= -= *= /= none %= **=\n += *=\n &&= ||= ^=\n...
24,variables and expressions,increment and decrement,let x = 1;\n let y = ++x;\n let z = --y;,none,$x = 1;\n $y = ++$x;\n $z = --$y;,x = 1\n # x and y not mutated:\n y = x.succ\n ...
25,variables and expressions,null,null,None,NULL # case insensitive,nil
26,variables and expressions,null test,v === null,v is None,is_null($v)\n ! isset($v),v == nil\n v.nil?
27,variables and expressions,undefined variable,Evaluates as undefined\n \n Use the triple equ...,raises NameError,Evaluates as NULL,raises NameError
28,variables and expressions,conditional expression,x > 0 ? x : -x,x if x > 0 else -x,$x > 0 ? $x : -$x,x > 0 ? x : -x
29,arithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic
30,arithmetic and logic,,node.js,python,php,ruby
31,arithmetic and logic,true and false,true false,True False,TRUE FALSE # case insensitive,true false
32,arithmetic and logic,falsehoods,false null undefined '' 0 NaN,False None 0 0.0 '' [] {},"FALSE NULL 0 0.0 """" ""0"" []",false nil
33,arithmetic and logic,logical operators,&& || !,and or not,&& || !\n lower precedence:\n and or xor,&& || !\n lower precedence:\n and or not
34,arithmetic and logic,relational operators,'=== !== < > >= <=\n \n perform type coercion:...,relational operators are chainable:\n == != > ...,'== != or <> > < >= <=\n no conversion: === !==,'== != > < >= <=

In [73]:
df['version']

0
1           version used....
2           show version....
3      implicit prologue....
4      grammar and execution
               ...
228         start thread....
229       wait on thread....
230                    sleep
231                  timeout
232
Name: version, Length: 233, dtype: object

In [30]:
df.describe()

       version version.1 version.2 version.3 version.4
count      233       233       233       233       233
unique     217       195       211       199       216
top                 none    python       php      ruby
freq        14        22        13        13        13

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   version    233 non-null    object
 1   version.1  233 non-null    object
 2   version.2  233 non-null    object
 3   version.3  233 non-null    object
 4   version.4  233 non-null    object
dtypes: object(5)
memory usage: 9.2+ KB

In [ ]:
id(8)

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 '_oh': {2: {...}},
 '_dh': [WindowsPath('c:/Users/marti/OneDrive/jupyter-notebooks')],
 'In': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 'Out': {2: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001DC707843D0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 '_': {...},
 '__': '',
 '___': '',
 'os': <module 'os' from 'd:\\conda\\lib\\os.py'>,
 'sys': <module 'sys' (built-in)>,
 '__vsc_ipynb_file__': 'c:\\Users\\marti\\OneDrive\\jupyter-notebooks\\pandas-1.ipynb',
 '_i': 'globals()',
 '_ii': 'import pandas as pd\nimport numpy as np',
 '_iii': '',
 '_i1': 'import pandas as pd\nimport numpy as np',
 'pd': <module 'pandas' from 'd:\\conda\\lib\\site-packages\\pandas\\__init__.py'>,
 'np': <module 'numpy' from 'd:\\conda\\lib\\site-packages\\numpy\\__init__.py'>,
 '_i2': 'globals()',
 '_2': {...},
 '_i3': 'globals()'}

In [4]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih']

In [5]:
pd.Series(dir(pd))

0          BooleanDtype
1           Categorical
2      CategoricalDtype
3      CategoricalIndex
4             DataFrame
             ...
136             tseries
137              unique
138                util
139        value_counts
140        wide_to_long
Length: 141, dtype: object

In [6]:
seri=pd.Series(dir(pd))

In [7]:
seri=pd.Series(globals())

In [8]:
seri=dfa.li

NameError: name 'dfa' is not defined

In [10]:
seri=pd.Series(_ih)

In [11]:
seri

0
1     import pandas as pd\nimport numpy as np
2                                   globals()
3                                   globals()
4                                         _ih
5                          pd.Series(dir(pd))
6                     seri=pd.Series(dir(pd))
7                   seri=pd.Series(globals())
8                                 seri=dfa.li
9                         seri=pd.Series(_ih)
10                        seri=pd.Series(_ih)
dtype: object

In [12]:
seri[seri.str.contains('seri[=]')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [13]:
seri[seri.str.contains('^ser')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [14]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih',
 'pd.Series(dir(pd))',
 'seri=pd.Series(dir(pd))',
 'seri=pd.Series(globals())',
 'seri=dfa.li',
 'seri=pd.Series(_ih)',
 'seri=pd.Series(_ih)',
 'seri',
 "seri[seri.str.contains('seri[=]')]",
 "seri[seri.str.contains('^ser')]",
 '_ih']

In [18]:
dir(seri.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [16]:
df1.columns

NameError: name 'df1' is not defined

In [ ]:
pd.DataFrame(dir(pd))

In [ ]:
dir(pd)

In [ ]:
dtype1= {'c': np.int32 , 'x': np.float64 } #, dtype=dtype1

In [ ]:
dfa=pd.read_csv('f3-of-f234.csv',sep=',',names=['li']) #,,skipinitialspace=True)

In [ ]:
# not strange ... just right aligned

In [ ]:
notstrange1=dfa.li.str.replace(' ','------')

In [ ]:
notstrange1

In [ ]:
notstrange1.to_csv('s1')

In [ ]:
notstrange1.to_frame('s1')

In [ ]:
notstrange1.to_list()

In [ ]:
notstrange1.to_numpy()

In [ ]:
notstrange1.to_string()

In [ ]:
dfa.li.str.replace(' ','-----')

In [ ]:
dfa.li.str.replace('\t','------')

In [ ]:
df1=pd.read_csv('f3-of-f234.csv',sep=' ',names=['c','x'],skipinitialspace=True)

In [ ]:
(10*df1).round()/10

In [ ]:
df1.eval('y=floor(10*x)/10', inplace=True)

In [ ]:
df11=df1

In [ ]:
df1.drop(columns=['x'],inplace=True)

In [ ]:
df12=df1

In [ ]:
df3=df1.groupby(by=['y']).sum()

In [ ]:
df3.to_csv('f3-of-f234-groupby.csv')

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df1

In [ ]:
dir(df1)

In [ ]:
df1.describe()

In [ ]:
df1.info()

In [ ]:
df1.lkey

In [ ]:
dir(df1.x)

In [ ]:
dir(np)

In [ ]:
se=pd.Series(["a", "b", "c"])

In [ ]:
se.str.upper()

In [ ]:
df.columns