In [1]:
import pandas as pd
import numpy as np

In [2]:
str1='C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\Scripting Languages I_ Node.js, Python, PHP, Ruby - Hyperpolyglot.html'

# pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\Scripting Languages II_ Perl, Lua, Groovy - Hyperpolyglot.html')

#pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\scripting.html')

#pd.read_html('C:\\Users\\marti\\OneDrive\\hyperpolyglot--html-backup\\ml.html')

In [3]:
with open(str1,encoding='utf-8' )  as f:
    fstr=f.read().strip()
    #fstr

In [61]:
fstr[-1]

'>'

In [4]:
#fstr[3870:3872]
fstr[3800:3872]

'e">implicit prologue</a><br />\n<span style="white-space: pre-wrap;">\xa0</s'

In [5]:
##s2=fstr.replace('\n',' @@@\n')
#s2=fstr.replace('\n','@@@@\n')
#s2=fstr.replace('\n','@@@\n')
#s2=fstr.replace('\n','.....\n')
s2=fstr.replace('\n','....\n')

In [6]:
#dfs=pd.read_html(str1,  flavor='bs4')
dfs=pd.read_html(s2, header=0  , flavor='bs4',  keep_default_na=False )
df=dfs[0]

In [65]:
#df.to_csv()

In [66]:
#alter
##dfs=pd.read_html(str1,  flavor='bs4')
#dfs=pd.read_html(str1, header=0  , flavor='bs4',  keep_default_na=False)   #, encoding='utf-8')
#warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored."
#df=dfs[0]

In [67]:
df.columns

Index(['version', 'version.1', 'version.2', 'version.3', 'version.4'], dtype='object')

In [68]:
df.values[2,0][-1]

'.'

In [69]:
#df.values[:,2]
s=df.values[2,2]
s.split('\n')

['$ python -V.... $ python --version']

In [70]:
df.iloc[2]

version                        show version....
version.1                      $ node --version
version.2    $ python -V.... $ python --version
version.3                       $ php --version
version.4                      $ ruby --version
Name: 2, dtype: object

In [71]:
##df.apply()
#df.applymap()

In [7]:
df[:30]

,version,version.1,version.2,version.3,version.4
0,,node.js,python,php,ruby
1,version used....,6.11,3.6,7.0,2.3
2,show version....,$ node --version,$ python -V.... $ python --version,$ php --version,$ ruby --version
3,implicit prologue....,// npm install lodash.... const _ = require('l...,"import os, re, sys",# sudo apt install php-mbstring,none
4,grammar and execution,grammar and execution,grammar and execution,grammar and execution,grammar and execution
5,,node.js,python,php,ruby
6,interpreter....,$ node foo.js,$ python foo.py,$ php -f foo.php,$ ruby foo.rb
7,repl....,$ node,$ python,$ php -a,$ irb
8,command line program,"$ node -e ""console.log('hi!');""","$ python -c 'print(""hi!"")'","$ php -r 'echo ""hi!\n"";'","$ ruby -e 'puts ""hi!""'"
9,block delimiters....,{},: and offside rule,{},{}.... do end
10,statement separator....,; or newline.... .... newline not separator in...,newline or ;.... .... newlines not separators ...,;.... .... statements must be semicolon termin...,newline or ;.... .... newlines not separators ...
11,source code encoding,source is always UTF-8,Python 3 source is UTF-8 by default; Python 2 ...,none,Ruby 2.0 source is UTF-8 by default.... .... #...
12,end-of-line comment....,// comment,# comment,// comment.... # comment,# comment
13,multiple line comment....,/* line.... another line */,use triple quote string literal:.... .... '''c...,/* comment line.... another line */,=begin.... comment line.... another line.... =end
14,variables and expressions,variables and expressions,variables and expressions,variables and expressions,variables and expressions
15,,node.js,python,php,ruby
16,local variable....,"// new in ES6:.... let x = 1;.... let y = 2, z...","# in function body:.... x = 1.... y, z = 2, 3","# in function body:.... $x = 1;.... list($y, $...","x = 1.... y, z = 2, 3"
17,file scope variable,// outside any function body:.... let n = 1;.....,none,none,none
18,global variable,global.g = 1;.... .... incrGlobal () { global....,g = 1.... .... def incr_global():.... global ...,$g = 1;.... .... function incr_global() {.... ...,$g = 1.... .... def incr_global.... $g += 1.....
19,constant....,// new in ES6.... const PI = 3.14;,# uppercase identifiers.... # constant by conv...,"define(""PI"", 3.14);.... .... const PI = 3.14;",# warning if capitalized.... # identifier is r...
20,assignment....,v = 1;,# assignments can be chained.... # but otherwi...,$v = 1;,v = 1
21,parallel assignment....,"// new in ES6:.... let [x, y, z] = [1, 2, 3];","x, y, z = 1, 2, 3.... .... # raises ValueError...","list($x, $y, $z) = [1 ,2, 3];.... .... # 3 is ...","x, y, z = 1, 2, 3.... .... # 3 is discarded:....."
22,swap....,"// new in ES6:.... [x, y] = [y, x];","x, y = y, x","list($x, $y) = [$y, $x];","x, y = y, x"
23,"compound assignment.... arithmetic, string, lo...",+= -= *= /= none %=.... +=.... none.... <<= >>...,# do not return values:.... += -= *= /= //= %=...,+= -= *= none /= %= **=.... .= none.... &= |= ...,+= -= *= /= none %= **=.... += *=.... &&= ||= ...
24,increment and decrement....,let x = 1;.... let y = ++x;.... let z = --y;,none,$x = 1;.... $y = ++$x;.... $z = --$y;,x = 1.... # x and y not mutated:.... y = x.suc...
25,null....,null,None,NULL # case insensitive,nil
26,null test....,v === null,v is None,is_null($v).... ! isset($v),v == nil.... v.nil?
27,undefined variable....,Evaluates as undefined.... .... Use the triple...,raises NameError,Evaluates as NULL,raises NameError
28,conditional expression....,x > 0 ? x : -x,x if x > 0 else -x,$x > 0 ? $x : -$x,x > 0 ? x : -x
29,arithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic,arithmetic and logic

In [73]:
df['version']

0
1           version used....
2           show version....
3      implicit prologue....
4      grammar and execution
               ...
228         start thread....
229       wait on thread....
230                    sleep
231                  timeout
232
Name: version, Length: 233, dtype: object

In [30]:
df.describe()

       version version.1 version.2 version.3 version.4
count      233       233       233       233       233
unique     217       195       211       199       216
top                 none    python       php      ruby
freq        14        22        13        13        13

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   version    233 non-null    object
 1   version.1  233 non-null    object
 2   version.2  233 non-null    object
 3   version.3  233 non-null    object
 4   version.4  233 non-null    object
dtypes: object(5)
memory usage: 9.2+ KB

In [ ]:
id(8)

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 '_oh': {2: {...}},
 '_dh': [WindowsPath('c:/Users/marti/OneDrive/jupyter-notebooks')],
 'In': ['',
  'import pandas as pd\nimport numpy as np',
  'globals()',
  'globals()'],
 'Out': {2: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001DC707843D0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc70784a30>,
 '_': {...},
 '__': '',
 '___': '',
 'os': <module 'os' from 'd:\\conda\\lib\\os.py'>,
 'sys': <module 'sys' (built-in)>,
 '__vsc_ipynb_file__': 'c:\\Users\\marti\\OneDrive\\jupyter-notebooks\\pandas-1.ipynb',
 '_i': 'globals()',
 '_ii': 'import pandas as pd\nimport numpy as np',
 '_iii': '',
 '_i1': 'import pandas as pd\nimport numpy as np',
 'pd': <module 'pandas' from 'd:\\conda\\lib\\site-packages\\pandas\\__init__.py'>,
 'np': <module 'numpy' from 'd:\\conda\\lib\\site-packages\\numpy\\__init__.py'>,
 '_i2': 'globals()',
 '_2': {...},
 '_i3': 'globals()'}

In [4]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih']

In [5]:
pd.Series(dir(pd))

0          BooleanDtype
1           Categorical
2      CategoricalDtype
3      CategoricalIndex
4             DataFrame
             ...
136             tseries
137              unique
138                util
139        value_counts
140        wide_to_long
Length: 141, dtype: object

In [6]:
seri=pd.Series(dir(pd))

In [7]:
seri=pd.Series(globals())

In [8]:
seri=dfa.li

NameError: name 'dfa' is not defined

In [10]:
seri=pd.Series(_ih)

In [11]:
seri

0
1     import pandas as pd\nimport numpy as np
2                                   globals()
3                                   globals()
4                                         _ih
5                          pd.Series(dir(pd))
6                     seri=pd.Series(dir(pd))
7                   seri=pd.Series(globals())
8                                 seri=dfa.li
9                         seri=pd.Series(_ih)
10                        seri=pd.Series(_ih)
dtype: object

In [12]:
seri[seri.str.contains('seri[=]')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [13]:
seri[seri.str.contains('^ser')]

6       seri=pd.Series(dir(pd))
7     seri=pd.Series(globals())
8                   seri=dfa.li
9           seri=pd.Series(_ih)
10          seri=pd.Series(_ih)
dtype: object

In [14]:
_ih

['',
 'import pandas as pd\nimport numpy as np',
 'globals()',
 'globals()',
 '_ih',
 'pd.Series(dir(pd))',
 'seri=pd.Series(dir(pd))',
 'seri=pd.Series(globals())',
 'seri=dfa.li',
 'seri=pd.Series(_ih)',
 'seri=pd.Series(_ih)',
 'seri',
 "seri[seri.str.contains('seri[=]')]",
 "seri[seri.str.contains('^ser')]",
 '_ih']

In [18]:
dir(seri.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [16]:
df1.columns

NameError: name 'df1' is not defined

In [ ]:
pd.DataFrame(dir(pd))

In [ ]:
dir(pd)

In [ ]:
dtype1= {'c': np.int32 , 'x': np.float64 } #, dtype=dtype1

In [ ]:
dfa=pd.read_csv('f3-of-f234.csv',sep=',',names=['li']) #,,skipinitialspace=True)

In [ ]:
# not strange ... just right aligned

In [ ]:
notstrange1=dfa.li.str.replace(' ','------')

In [ ]:
notstrange1

In [ ]:
notstrange1.to_csv('s1')

In [ ]:
notstrange1.to_frame('s1')

In [ ]:
notstrange1.to_list()

In [ ]:
notstrange1.to_numpy()

In [ ]:
notstrange1.to_string()

In [ ]:
dfa.li.str.replace(' ','-----')

In [ ]:
dfa.li.str.replace('\t','------')

In [ ]:
df1=pd.read_csv('f3-of-f234.csv',sep=' ',names=['c','x'],skipinitialspace=True)

In [ ]:
(10*df1).round()/10

In [ ]:
df1.eval('y=floor(10*x)/10', inplace=True)

In [ ]:
df11=df1

In [ ]:
df1.drop(columns=['x'],inplace=True)

In [ ]:
df12=df1

In [ ]:
df3=df1.groupby(by=['y']).sum()

In [ ]:
df3.to_csv('f3-of-f234-groupby.csv')

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df1

In [ ]:
dir(df1)

In [ ]:
df1.describe()

In [ ]:
df1.info()

In [ ]:
df1.lkey

In [ ]:
dir(df1.x)

In [ ]:
dir(np)

In [ ]:
se=pd.Series(["a", "b", "c"])

In [ ]:
se.str.upper()

In [ ]:
df.columns